@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Special+Elite&family=Montserrat:wght@300;400;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Special Elite', monospace;
    overflow: hidden;
    user-select: none;
}

/* --- UI ELEMENTS --- */
#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: filter 2s ease;
}

.hidden { display: none !important; }
.fade-in { animation: fadeIn 2s forwards; }
.shake { animation: shake 0.5s; }

